<div>
    <table>
        <thead>
            <tr>
                <th>EmpId</th>
                <th>EmpName</th>
                <th>Empage</th>
                <th>EmpSalary</th>
            </tr>
            <tr>
                <td>1</td>
                <td>koti</td>
                <td>23</td>
                <td>30000</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Yella</td>
                <td>24</td>
                <td>25000</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Naveen</td>
                <td>23</td>
                <td>30000</td>
            </tr>
            <tr>
                <td>4</td>
                <td>azam</td>
                <td>23</td>
                <td>30000</td>
            </tr>
        </thead>
    </table>
</div>